<meta charset="UTF-8">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% if page.title %}
<meta property="og:title" content="{{ page.title }} • {{ site.title }}">
{% else %}
<meta property="og:title" content="{{ site.title }}">
{% endif %}
<meta property="og:description" content="{{ site.description }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
<link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/assets/semantic/semantic.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="shortcut icon" href="/assets/favicon.ico">

{% if page.title %}
<title>{{ page.title }} • {{ site.title }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}

<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2582627085360478",
    enable_page_level_ads: true
  });
</script>