<nav class="navbar sticky-top navbar-expand-lg navbar-transparent">
    <div class="container pt-5 pb-3">
        <a class="navbar-brand roboto-mono mr-5" href="/">GIHWAN KIM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link roboto-mono" href="/about">ABOUT</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link roboto-mono" href="https://gihwan.home.blog">BLOG</a>
                </li>
            </ul>
            <a class="navbar-text nav-link text-dark" href="https://github.com/ghkim3221">
                <i class="fab fa-github fa-lg"> </i>
            </a>
        </div>
    </div>
</nav>