<div class="ui top sidebar ui segment">
  <div class="ui huge text menu">
    <div class="ui container">
      <a href="/" class="header item">
        Gihwan Kim
      </a>
      <div class="right menu">
        <a id="sidebar-open-button" class="item">
          <i class="sidebar icon"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="ui center aligned page grid">
    <div class="two column divided row">
      <div class="column">
        <div class="ui divided link items">
          <a href="/history" class="item">
            <div class="content">
              <div class="header">
                History
              </div>
              <div class="description">
                저는 이렇게 살아왔습니다.
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="column">
        <h3 class="ui header">
          Social
        </h3>
        <a href="https://blog.gihwan.kr" class="ui wordpress social button">
          <i class="wordpress icon"></i>
          Blog
        </a>
        <a href="https://github.com/ghkim3221" class="ui github social button">
          <i class="github icon"></i>
          GitHub
        </a>
        <a href="https://www.linkedin.com/in/ghkim3221" class="ui linkedin social button">
          <i class="linkedin icon"></i>
          LinkedIn
        </a>
      </div>
    </div>
  </div>
</div>