---
layout: default
title: History
---

<div class="ui list">
    {% for history in site.data.history %}
    <div class="history item">
        <div class="ui grid">
            <div class="four wide column">
                <p class="roboto-mono">
                    {{ history.date }}
                </p>
            </div>
            <div class="twelve wide column">
                <h2>
                    {{ history.name }}
                </h2>
                {% if history.description %}
                <p>
                    {{ history.description }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>