.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-transparent .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-transparent .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-transparent .navbar-nav .nav-link:hover,
.navbar-transparent .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-nav .show>.nav-link,
.navbar-transparent .navbar-nav .active>.nav-link,
.navbar-transparent .navbar-nav .nav-link.show,
.navbar-transparent .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-transparent .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-transparent .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-transparent .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-transparent .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-transparent .navbar-text a:hover,
.navbar-transparent .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.list-group-transparent {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
}

.list-group-item-transparent {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
}