.ui.monospace {
  font-family: monospace, monospace;
}

.ui.roboto.monospace {
  font-family: 'Roboto Mono', monospace;
}

.ui.text.menu {
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.ui.text.menu .header.item {
  font-size: 1.5rem;
  text-transform: none;
}

.ui.social.button {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.ui.list .history.item {
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}

.ui.footer {
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}

.ui.typography.h1 {
  font-size: 6rem;
}

.ui.typography.h3 {
  font-size: 3rem;
}