<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="pushable">

    <div class="pusher">

        <div class="ui huge text menu">
            <div class="ui container">
                <a href="/" class="header item">
                    Gihwan Kim
                </a>
            </div>
        </div>

        <div class="ui full height center aligned text container">
            <div>
                <h1 class="ui roboto monospace typography h1">
                    404
                </h1>
                <p class="ui roboto monospace typography h3">
                    PAGE NOT FOUND
                </p>
            </div>
        </div>

        {% include footer.html %}

    </div>

    {% include script.html %}

</body>

</html>