<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="bg-light">

    <nav class="navbar navbar-transparent sticky-top ">
        <div class="container pt-3 pt-lg-5 pb-3">
            <a class="navbar-brand roboto-mono mr-5" href="/">GIHWAN KIM</a>
        </div>
    </nav>

    <div class="container">
        <div class="m-5">
            <h1 class="text-dark text-monospace display-3">404</h1>
            <p class="text-muted display-4">
                PAGE
                <br class="d-sm-none" />
                NOT
                <br class="d-sm-none" />
                FOUND
            </p>
        </div>
    </div>

    <footer class="fixed-bottom pt-5 pb-3 pt-lg-5">
        <div class="container">
            <p class="text-center text-dark text-monospace">
                Made by Gihwan Kim,
                <br class="d-sm-none">
                Powered by Github Pages
            </p>
        </div>
    </footer>

    {% include script.html %}

</body>

</html>