<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>

    <div class="ui huge text menu">
        <div class="ui container">
            <a href="/" class="header item">
                Gihwan Kim
            </a>
        </div>
    </div>

    <div class="container">
        <div class="m-5">
            <h1 class="text-dark text-monospace display-3">404</h1>
            <p class="text-muted display-4">
                PAGE
                <br class="d-sm-none" />
                NOT
                <br class="d-sm-none" />
                FOUND
            </p>
        </div>
    </div>

    {% include footer.html %}

    {% include script.html %}

</body>

</html>