<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body class="bg-light">

    {% include navbar.html %}

    <div class="container">
        <!-- TODO(@ghkim3221): add contents -->
    </div>

    <footer class="fixed-bottom pt-5 pb-3 pt-lg-5">
        <div class="container">
            <p class="text-center text-dark text-monospace">
                Made by Gihwan Kim,
                <br class="d-sm-none">
                Powered by Github Pages
            </p>
        </div>
    </footer>

    {% include script.html %}

</body>

</html>